#main-container {
    position: relative;
    text-align: center;
    width: 800px;

    padding-top: 80px;
    margin: 0 auto;

    background: cadetblue;
}

#main-window {
    background: #fff;
    
}

button{
    
    margin: 10px;
}
