body {
  background-color: #000000;
  color: #6580e0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 60px;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto 0;
  padding: 10px;
  background-color: #37498a;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 1.5em;
}

#button-container > button {
  margin: 10px;
  border-radius: 0;
  min-width: 200px;
  min-height: 50px;
  color: #6580e0;
  background-color: #23336b;
}
#button-container > button[disabled] {
  color: #37498a;
}
#button-container > button:hover:not([disabled]) {
  background-color: #293c7e;
  box-shadow: 0.3em 0.3em 0.3em #6580e0;
}

#menu-collapsible button {
  margin: 2px;
  min-width: 10rem;
  height: 2rem;
  color: #6580e0;
  background-color: #23336b;
}
#menu-collapsible button[disabled] {
  color: #37498a;
}
#menu-collapsible button:hover:not([disabled]) {
  background-color: #293c7e;
  box-shadow: 0.3em 0.3em 0.3em #6580e0;
}
#menu-collapsible button.activated {
  background-color: #293c7e;
  box-shadow: 0.3em 0.3em 0.3em #6580e0;
}

#settingsCog {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("../../assets/cog.svg");
  background-size: contain;
  cursor: pointer;
}
#settingsCog:hover {
  -webkit-animation-name: cogHover;
          animation-name: cogHover;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes cogHover {
  to {
    transform: scale(1.1, 1.1);
  }
}

@keyframes cogHover {
  to {
    transform: scale(1.1, 1.1);
  }
}
#cogBtn {
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0;
}

#menu-collapsible {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 50%;
  grid-gap: 1px;
  border-left: 1px solid #37498a;
  border-right: 1px solid #37498a;
  padding: 50px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}
#menu-collapsible.unfolded {
  border-left: 1px solid #6580e0;
  border-right: 1px solid #6580e0;
  border-radius: 5%;
  height: 300px;
  opacity: 1;
}
#menu-collapsible .grid-element {
  border: 0px solid #23336b;
}
#menu-collapsible .input-container {
  padding: 0.3rem 0 0 1rem;
}
#menu-collapsible input {
  width: 2rem;
}
#menu-collapsible [type=range] {
  width: 5rem;
  transform: translate(0, 0.2rem);
}

.grid-element h2 {
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #000000;
}

#numberOfTiles-gridEl {
  grid-column-start: 1;
  grid-row-start: 1;
}

#buildType-gridEl {
  grid-column-start: 1;
  grid-row-start: 2;
}

#mapType-gridEl {
  grid-column-start: 1;
  grid-row-start: 3;
}

#tileSelectorType-gridEl {
  grid-column-start: 2;
}

#drawTools-gridEl {
  grid-column-start: 2;
}

#main-border {
  border-top: 3px solid #6580e0;
  border-bottom: 3px solid #6580e0;
  border-radius: 1%;
  background: #37498a;
}

#button-container, #menu-container, #main-container {
  margin: 0 auto;
  width: 800px;
}

#main-container {
  position: relative;
  text-align: center;
  background: #37498a;
}

#main-window {
  border: 0.15em solid #6580e0;
}

#menu-container {
  position: relative;
  min-height: 60px;
}

#button-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}