$primary-color: #08a14c;
$primary-light: #bfe7d1;

$light-gray: #b3c2d0;
$mid-gray: #4d596f;
$dark-gray: #202231;

$content-width: 1024px;
$canvas-height: 600px;

$canvas-background-color: #202231;
$screen-size-animation-duration: 0.2s;
