.main {
  margin: 0 auto;

  position: relative;
  max-width: $content-width;

  box-shadow: 0 0 15px $dark-gray;
  background-color: $dark-gray;

  transition-property: max-width position;
  transition-duration: $screen-size-animation-duration;
  transition-timing-function: ease-out;

  &.fullscreen-mode {
    max-width: 100%;
  }
}
