#button-container > button {
    margin: 10px;
    border-radius: 0;
    min-width: 200px;
    min-height: 50px;
    color: $primary-color;
    background-color: $third-color;
    
    &:hover:not([disabled]){
        background-color: lighten($third-color, $amount: 5);
        box-shadow: 0.3em 0.3em 0.3em $primary-color;
    }
}
