//COLORS
$primary-color: #6580e0 ;
$secondary-color: #37498a;
$third-color: #23336b;
$contrast-black: #000000;
$contrast-white: #ffffff;
$background-main: #000000;

//GLOBAL VARS
$app-width: 800px;

//MENU VARS
$menu-height: 60px;
$menu-height-unfolded: 300px;