* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: $mid-gray;

  transition-property: background-color;
  transition-duration: $screen-size-animation-duration;
  transition-timing-function: ease-out;

  &.fullscreen-mode {
    overflow-x: hidden;
    background-color: $canvas-background-color;
  }
}
