.settings {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  height: min-content;

  &__icon-hamburger {
    width: 5rem;
    height: 4rem;
    position: relative;
    z-index: 100;

    > div {
      position: absolute;
      height: 0.5rem;
      width: 5rem;
      background-color: $primary-light;
      transition: all 0.2s ease-out;
    }

    &__line-1 {
      right: 0;
    }

    &__line-2 {
      top: 1.75rem;
    }

    &__line-3 {
      top: 3.5rem;
    }

    &:hover {
      > div {
        background-color: $primary-color;
      }

      .settings__icon-hamburger__line-1 {
        transform: scale(1.1);
      }

      .settings__icon-hamburger__line-2 {
        transform: scale(0.9);
      }

      .settings__icon-hamburger__line-3 {
        transform: scale(1.1);
      }
    }
  }

  &__container {
    border-radius: 1rem;
    padding: 2rem 1rem 1rem;
    position: absolute;
    top: -2rem;
    right: -1rem;

    opacity: 0;
    visibility: hidden;
    width: 50rem;
    height: 70rem;
    box-shadow: 0 0 15px $dark-gray;
    background-color: $mid-gray;
    user-select: none;

    transform: scale(0.5);
    transform-origin: top right;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    h2 {
      font-size: 3rem;
      color: $primary-light;
      text-align: center;
    }
  }

  &.open {
    .settings__icon-hamburger {
      &__line-1 {
        transform: translateX(1rem) rotate(45deg) translateY(2.4rem);
      }

      &__line-2 {
        transform: scale(0.5);
        opacity: 0;
      }

      &__line-3 {
        transform: translateX(1rem) rotate(-45deg) translateY(-2.4rem);
      }

      &:hover {
        .settings__icon-hamburger__line-1 {
          transform: translateX(1rem) rotate(45deg) translateY(2.4rem)
            scale(1.2);
        }

        .settings__icon-hamburger__line-3 {
          transform: translateX(1rem) rotate(-45deg) translateY(-2.4rem)
            scale(1.2);
        }
      }
    }

    .settings__container {
      opacity: 0.95;
      visibility: visible;
      transform: scale(1);

      :focus {
        outline: 0.2rem solid $primary-color;
        transform: scale(1.01);
      }
    }
  }
}
